body {
    background-color: #eee1e8;
    font-family: 'Fira Code', monospace;
}
.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#navbar {
    font-size: 1.5rem;
    font-weight: 100;
}